
$principal: #FFE7E2;
$acento: #71C8E2;
$cta: #68CA87;
$cajas: #F14C2E;
$typo: #312D2D;

$titulos: 'Open Sans', sans-serif; 
$parrafos: 'Lato', sans-serif; 

*{
    font-family: $titulos;
    font-weight: 400;
    color: $typo;
}

body{
    background-color: $principal;
}

h1{
    font-weight: 700;
}

h2{
    font-family: $parrafos;
    font-weight: 300;
}

a{
    color: $principal;
    text-decoration: none;
    &:hover{
        color: white;
    }
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: $cajas;
    & .menu{
            display: flex;
            padding-top: 10px;
            &__items{
                display: flex;
                justify-content: space-around;
                list-style: none;
                text-decoration: none;
            }
        }
}

.grilla{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1,5rem;
}
.grilla{
    &__patron{
        margin-top: 100px;
        grid-column-end: span 4;
        grid-column-start: 2;
    }
}

button{
    color: $principal;
    border-radius: 5px;
    background-color: $cta;
}

.grilla{
    &__caja{
        display: grid;
        grid-column-end: span 4;
        justify-content: center;
        padding: 15px;
        margin-top: 80px;
    }
}

.grilla{
    &__forma{
        display: grid;
        padding: 25px;
        margin: 150px;
        border-radius: 1rem;
        background-color: aliceblue;
    }
}

.col-md-4{
    display: flex;
    justify-content: center;
}
.card{
    justify-content: center;
    margin-top: 105px;
    padding: 15px;
} 

.grilla{
    &__portfolio{
        display: grid;
        grid-column-end: span 10;
        grid-column-start: 2;
    }
}

.grilla{
    &__cajon{
        display: grid;
        grid-column-end: span 10;
        margin-top: 200px;
        grid-column-start: 2;
    }
} 

.grilla{
    &__cliente{
        display: grid;
        font-size: 14px;
        margin-top: 30px;
        grid-column-end: span 4;
        padding: 20px;
    }
}

.grilla{
    &--destacado{
        display: grid;
        grid-column-end: span 10;
        height: 400px;
        grid-column-start: 2;
    }
}

.grilla{
    &__noticias{
        display: grid;
        grid-column-end: span 10;
        height: 60vh;
        grid-column-start: 2;
    }
}

/* Viewport < tablet */
@media (max-width:768px) {
    .grilla > * {
        grid-column-end: span 12;
    }
    .grilla {
        gap: 1.5rem 1.5rem;
    }
}

/* Viewport < celular */
@media (max-width:450px) {
    .grilla > * {
        grid-column-end: span 12;
    }
    .grilla {
        gap: 1.5rem;
    }
}