h1{
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    & .menu{
            display: flex;
            padding-top: 10px;
            &__items{
                display: flex;
                justify-content: space-around;
                list-style: none;
                text-decoration: none;
            }
        }
}

.grilla{
    display: grid;
    gap: 1,5rem;
}

.grilla{
    &__patron{
        margin-top: 100px;
        grid-column-end: 5px;
    }
}

button{
    border-radius: 5px;
}

.grilla{
    &__caja{
        display: grid;
        grid-column-end: span 4;
        justify-content: center;
        padding: 15px;
        margin-top: 80px;
    }
}

.grilla{
    &__forma{
        display: grid;
        padding: 25px;
        margin: 150px;
        border-radius: 1rem;
        background-color: aliceblue;
    }
}

.col-md-4{
    display: flex;
    justify-content: center;
}
.card{
    justify-content: center;
    margin-top: 105px;
    padding: 15px;
} 


.grilla{
    &__portfolio{
        display: grid;
    }
}

.grilla{
    &__cajon{
        display: grid;
        margin-top: 200px;
    }
} 

.grilla{
    &__cliente{
        display: grid;
        font-size: 14px;
        margin-top: 30px;
        grid-column-end: span 4;
        padding: 20px;
    }
}

.grilla{
    &--destacado{
        display: grid;
        height: 400px;
    }
}

.grilla{
    &__noticias{
        display: grid;
        height: 60vh;
        }
}